<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Detail_Demo_New.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>67E6B5081D6C1A8C00F72C70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67E6B5211D6C1A8D00F72C70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67E6B52C1D6C1A8D00F72C70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
